<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Firebase</title>
<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.3.2/firebase-database.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<h1>Tarea</h1>


  
<form id="studentForm">

  <div class='divDform'>
    <label>Tarea</label>
    <input type="text" id="tarea" placeholder="Ingrese Tarea" required>
  </div>

  <div style='display:flex;'>
    <input type="submit" value="Agregar" style='cursor:pointer'>
  </div>

</form>



<h2>Lista de Tareas</h2>

<div id="studentList"></div>

<script type="text/javascript" src='/js/script.js'></script>
</body>
</html>