@font-face{
    font-family:'fuente';
    src:url('/fuentes/DS-DIGIT.TTF');
  }
  body{
    background:-webkit-radial-gradient(center,circle,rgba(138, 244, 200,.9),rgba(0,0,0,.9));
  }
  .column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .column:nth-child(1){
   margin-left: 4rem;
  }
  .form{
    display:flex;
    justify-content: center;
    align-items: center;
    width:90%;
    border:1px solid white;
    margin:1rem 2rem;
    padding:1rem;
    background:rgb(154, 231, 152);
  }
  input{
    text-align: center;
    margin:1rem;
  }
  #studentForm{
    display:flex;
    justify-content: center;
    align-items:center;
    border:1px solid white;
    width:90%;
    height: auto;
    color:white;
    margin:1rem auto;
    background:rgb(154, 231, 152);
  }
  #imagenes img{
    width:30%;
    height: auto;
    margin:.5rem;
  }
  #imagenes{
    display: flex;
    border:1px solid white;
    width:84%;
    margin-left: .5rem;
  }
  .divDform{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid white;
    padding:.2rem;  
    width:90%;
  }
  h1,h2{
    display: flex;
    justify-content: center;
    color:white;
    font:2rem 'fuente'; 
  }
  
  /*eFECTO*/
  .main{
         display:flex;/*?????*/
         text-align:center;
         align-items:center;/*????*/
         margin-top:100px;
         margin-bottom:4rem;
         line-height:50px;/*?????*/
         justify-content:center;/*sirve para centrar en contenido*/
         font:2rem 'fuente';
    }
    .load{
        height:50px;
        width:50px;
        border-radius:50%;
        background:pink;
        margin:2px;
        font-weight:bolder;/*?????*/
        color:white;
        animation:animar 3s alternate infinite;
        line-height:50px;
    }
    
          @keyframes animar{
            0%{
            transform:translateY(0px);
            color:rgb(0,0,0);
            background:rgb(29, 18, 231);

            }
            50%{
            transform:translateY(-30px);
            color:white;
            background:rgb(249, 36, 94);  
            }
            100%{
            transform:translateY(0px);  
            color:black;
            background:rgb(145, 28, 159);
            }
          }
          .load:nth-child(1){
               animation-delay:.2s;
          }
          .load:nth-child(2){
               animation-delay:.4s;
          }
          .load:nth-child(3){
               animation-delay:.6s;
          }
          .load:nth-child(4){
               animation-delay:.8s;
          }
          .load:nth-child(5){
               animation-delay:1s;
          }
          .load:nth-child(6){
               animation-delay:1.2s;
          }
          .load:nth-child(7){
               animation-delay:1.4s;
          }
          .load:nth-child(8){
               animation-delay:1.6s;
          }
          .divDform{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          label{
            font:1.5rem 'fuente';
          }
          input{
            border-radius: 10px;
          }
          button{
            border-radius: 10px;
          }
